html { height: 100% }
body  {min-height: 100%}

ul.container1 {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0%;
    margin-left: 0%;
    margin-right: 0%;
    font-family: Arial, sans-serif;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.87); 
    align-items: baseline
}

li.container1 {
    margin: 0.5em;
    padding: 0.5em;
    line-height: 28px;
}

#logoapp {
    opacity: 0.55;
    align-self: center;
    margin-right: 10px;
}

#logoapp:hover {
    opacity: 0.75;
    align-self: center;
    margin-right: 10px;
}

#sesion a {
    color: white;
    background-color: rgb(67,135,253);
    font-weight: 700;
    border-radius: 2px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-image-repeat: stretch;

}

.foto {
    text-align: center;
    padding-top: 109px;
    padding-bottom: 20px;

}

#googl {
    width: 272px;
    height: 92px;
}

a {
    color: rgba(0, 0, 0, 0.87);
    text-decoration: none;
    text-decoration-line: none;
}

.searchbar {
  display: flex;
  flex-direction: row;
  border: 1px solid #dfe1e5;
  width: 548px;
  height: 44px;
  border-radius: 24px;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}

#lupa {
    width: 0.90em;
    height: 0.90em;
    padding-left: 30px;
}

#sbar {
    border: none;
    width: 4800px;
    padding-left:10px;
}


.botones {
    text-align: center;
}

.botones input[type="submit"] {
    background-image: -webkit-linear-gradient(top,#f5f5f5,#f1f1f1);
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.idiomas {
    text-align: center;
    font-family: arial, sans-serif;
    font-size: 13px;
    margin-bottom: 200px;
}

.idiomas a {
    text-decoration: none;
    color: blue;
}

.footer {
    bottom: 0;
    position: absolute;
    margin-bottom: 0px;
    width: 100%;
}

.footer1 {
    font-size: 15px;
    color:rgba(0,0,0,.54);
    text-align: left;
    line-height: 40px;
    font-family: arial, sans-serif;
    padding-left: 27px;
    border: 1px solid #e4e4e4;
    margin:0px ;
    background-color: #f2f2f2;
}

.footer2 {
    font-size: 13px;
    color: rgba(0, 0, 0, 0.87); 
    font-family: arial, sans-serif;
    line-height: 40px;
    padding-left: 27px;
    border: 1px solid #e4e4e4;
    overflow: hidden;
    margin: 0px;
    background-color: #f2f2f2;
    
}

#footer2r {
    float: right;
    padding-right: 27px;
    color: rgb(95, 99, 104)
}

#footer2r a {
    margin: 5px;
}

#footer2l {
    float: left;
    color: rgb(95, 99, 104)
}

#footer2l a {
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-left: 0px;
}

